//- Created by Kamile on 17/03/2017
extends layout

block content

    .container
        .row
            .col-sm-6
                ul.nav.nav-pills
                    li
                        a(href='/user/') My Donations
                    li
                        a(href='/map/') Donation by Country
            .col-sm-6
                include profile