//- Created by Jamie on 17/03/2017.

extends layout

block styles
    link(rel='stylesheet' href='/static/css/index.css')

block content

    .container.jumbotron

        h1 Donation Portal
        p
            a.btn.btn-default.facebook(href='/auth/') Login with Facebook
        p
            a.btn.btn-default(href='#') See map



