//- Created by Jamie on 17/03/2017.

html
    head
        title Donation Portal

        link(rel='stylesheet' href='/static/css/bootstrap.min.css')
        block styles

    body

        block content

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="/static/javascript/bootstrap.min.js")

        
